﻿<%@ Assembly Name="$SharePoint.Project.AssemblyFullName$" %>
<%@ Assembly Name="Microsoft.Web.CommandUI, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Tagprefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Tagprefix="asp" Namespace="System.Web.UI" Assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" %>
<%@ Import Namespace="Microsoft.SharePoint" %> 
<%@ Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SPRuchMatTowDelCtrl.ascx.cs" Inherits="Incodix.Wedel.SPRuchMatTow.ControlTemplates.Incodix.Wedel.SPRuchMatTow.SPRuchMatTowDelCtrl" %>
<link rel="stylesheet" type="text/css" href="../../../_layouts/15/Incodix.Wedel.SPRuchMatTow/SPRuchMatTowMasterPage.css" />
<link rel="stylesheet" type="text/css" href="../../../_layouts/15/Incodix.Wedel.SPRuchMatTow/responsive.css" />
<script src="../../../_layouts/15/Incodix.Wedel.SPRuchMatTow/SPRuchMatTowRibbonScriptsPL.js"></script>
<script src="../../../_layouts/15/Incodix.Wedel.SPRuchMatTow/jquery.js"></script>
