﻿/* ==== Small Devices and Tablets ==== */
@media only screen and (max-width: 760px) {
    .GoodsMovWebPartForm{
        width:700px !Important;
    }
}
/* ==== Medium Devices ==== */
@media only screen and (max-width: 922px) {
    .GoodsMovWebPartForm{
        width:900px !Important;
    }
}
/* ==== Large Devices ==== */
@media only screen and (max-width: 1200px) {
    .GoodsMovWebPartForm{
        width:980px !Important;
    }}

