﻿.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item, .ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenuEdit, .ms-core-listMenu-heading, .ms-tv-header {
    background-color:#0072c6;
    font-weight:700;
    color:white;
}
.hiddenSection{
    visibility:hidden;
    display:none;
}