﻿/* --- Form Layout --- */
* {
    margin: 0;
    padding: 0;
}
#form{
    width:100%;
}
.row{
    padding-bottom: 10px;
}
.paddingRow {
    padding-top:30px;
}
.btn-success{
    color:#fff !important;
    background-color:#5cb85c !important;
    border-color:#4cae4c !important;
}
.btn-warning{
    color:#fff !important;
    background-color:#ec971f !important;
    border-color:#d58512 !important;
}
#buttonsRow{
    padding-top:10px;
}
#buttonsRow input{
    font-size:18px !important;
    padding:10px 16px !important;
}
.GridControl{
    color:#555 !important;
    background-color:#fff !important;
}
.fldRequestor{
    font-weight:500 !important;
}
.fldRequestState{
    font-weight:500 !important;
}
.fldCreated{
    font-weight:500 !important;
}
.fldApprovalDate{
    font-weight:500 !important;
}
#ToReturn{
    font-weight:500 !important;
}
.ToReturn{
    border:1px solid #ababab;
    border-radius: 4px;
    box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075);
    transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* --- Form Layout --- */


/* --- Validation Styles --- */

.errorMessage{
    color:red !important;
    font-weight:700;
}
.hiddenSection{
    visibility:hidden;
    display:none;
}
/* --- Validation Styles --- */

/* --- dialogBox styles --- */
.dialogFormCenter{
    padding: 10px; 
    margin: 10px; 
    float: none; 
    vertical-align: top; 
    text-align: center;
}
.fldAdditionalComments {
    display: block;
    width: 100%;
    height: 70px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
/* --- dialogBox styles --- */

/* --- printForm Styles --- */
.formControlExtended{
    height: auto !important; 
    min-height:34px !important;
    font-weight:500 !important;
}
.formControlExtendedforPrint{
    height: auto; 
    min-height:34px !important;
    font-weight:500 !important;
}
#lblfooterLabel{
    padding-top:5px;
    padding-bottom:30px;
    font-size:10px;
}
#printFormFooter > div{
    padding:2px;
    margin:2px;
}